@import "tailwindcss";

:root {
  --steel-white: #F5F7FA;
  --matte-black: #121212;
}

/* Fonts */

.trade-winds-regular {
  font-family: var(--font-trade-winds), system-ui;
  font-weight: 400;
  font-style: normal;
}


.montserrat-regular {
  font-family: var(--font-montserrat), sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}